%h1 Hacker Music

- if(@user.nil?)
  %form{:action => '/login', :method => 'post'}
    %input{:type => 'text', :name => 'login', :value => 'login'}
    %input{:type => 'password', :name => 'password'}
    %input{:type => 'submit', :value => 'Log In'}
- else
  %a{:href => '/logout'} Log out
  |
  %a{:href => '/change'} Change Password
  |
  %a{:href => '/cancel'} Clear My Vote

.search
  %form{:id => 'search'}
    %input{:type => 'text', :name => 'q', :id => 'q', :size => '50'}
    %input{:type => 'submit', :name=>'go', :value => 'Search', :id => 'searchbutton'}
    
- if(@current_song)
  %h3= "Now Playing: #{@current_song[:title]} by #{@current_song[:artist]}"

.right
  %h2 Upcoming:
  %ul
    - @votes.each do |vote|
      %li
        %a{:href => "/vote/#{vote[:song_id]}"}= vote[:title]
        =' (' + vote[:cnt] + ')'
      %small= 'By: ' + vote[:artist]
.left
  %h2 Songs:
  %ul{:id => 'songs'}
    - @songs.each do |song|
      %li
        %a{:href => "/vote/#{song[:id]}"}= song[:title]
        %small= 'By: ' + song[:artist]
- session[:notice] = ''