!!!
%html
  %head
    %title Hacker Music
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style/hm.css'}
    %script{:src => '/script/jquery-1.3.2.js'}
    %script{:src => '/script/hm.js'}
  %body
    #header
      %h1 
        %a{:href => '/', :title => 'Hacker Music'} Hacker Music
      #controls
        - if(@user.nil?)
          %form{:action => '/login', :method => 'post'}
            Username:
            %input{:type => 'text', :name => 'login'}
            Password:
            %input{:type => 'password', :name => 'password'}
            %input{:type => 'submit', :value => 'Log In'}
        - else
          %a{:href => '/logout'} Log out
          |
          %a{:href => '/change'} Change Password
          |
          %a{:href => '/cancel/all'} Clear My Votes
          - if @user[:is_admin]
            |
            %a{:href => '/admin'} Admin
    - if(@current_song)
      %h2.now_playing= "Now Playing: #{@current_song[:title]} by #{@current_song[:artist]} | Open <a href='#{@tune_in_link}'>this link</a> in Winamp or Itunes to tune in!"
    - if @notice
      %h2#notice= @notice
    .search
      %form{:action => '/search', :id => 'search'}
        %input{:type => 'text', :name => 'q', :id => 'q', :size => '71'}
        %input{:type => 'submit', :value => 'Search', :id => 'searchbutton'}
    .browsing_links
      %p
        Browse By:
        %a{:href => '/title'} Title
        |
        %a{:href => '/artist/list'} Artist
        |
        %a{:href => '/genre'} Genre
        |
        %a{:href => '/album/list'} Album
        |
        %a{:href => '/year'} Year
        |
        %a{:href => '/random'} Random
    .right
      %h2 Upcoming:
      %ul
        - @upcoming.each do |song|
          %li
            %a{:href => "/vote/#{song[:song_id]}"}= song[:title]
            (#{song[:cnt]})
            %br
            %small= 'By: ' + song[:artist]
      - if @my_votes
        %h2 My Votes: (#{($CONFIG[:settings][:max_votes].to_i - @my_votes.count).to_s} left)
        %ul
          - @my_votes.each do |v|
            %li
              #{v[:title]} 
              %br
              %small 
                by #{v[:artist]}
                |
                %a{:href => '/cancel/' + v[:vote_id].to_s} Cancel
            
    #main
      =yield
    - session[:notice] = ''