%ul.song_list
  - @songs.each do |song|
    %li
      %p{:id => song[:id].to_s + '_player'}
        Enable JS and Flash to stream
        %br
      %script{:type => 'text/javascript'}
        AudioPlayer.embed("#{song[:id].to_s + '_player'}", {soundFile: "/get/#{song[:id].to_s}"});
      %br
      %a{:href => "/vote/#{song[:id]}"}= song[:title]
      %br
      %small
        %a{:href => '/artist/view/' + escape(song[:artist])}=  song[:artist]
        \-
        %a{:href => '/year/' + escape(song[:year])}= song[:year]
        \-
        %a{:href => '/album/view/' + escape(song[:album])}= song[:album]
        \-
        %a{:href => '/get/' + song[:id].to_s} Download
  